.hero-image {
    min-height: 200px;
    background-image: url("https://source.unsplash.com/random/400x200");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 100%;
    left: 100%;
    color: white;
}