.hero-image {
    min-height: 300px;
    background-image: url("https://source.unsplash.com/random/400x200");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-blue {
    background-color: lightblue
}

.bg-white {
    background-color: white
}

.reasons {
    min-height: 300px;
}

.get-news {
    min-height: 100px;
}

.map {
    min-height: 300px;
    background-image: url("https://loremflickr.com/400/200");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.footer {
    background-color: rgb(226, 162, 162)
}

.footer-section {
    min-height: 100px;
}

